<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%= title %></title>
</head>

<body>
  <h1><%= title %>
    <a href="/trainers/add">
      <button>Add Trainer</button>
    </a>
  </h1>

  <% for (let trainer in trainers) { %>
  <h2> <%= trainer %> </h2>
  <% if (trainers[trainer].pokemons.length > 0) { %>
  <ul>
    <% trainers[trainer].pokemons.forEach(pokemon => {%>
    <li><%= pokemon %></li>
    <% });%>
  </ul>
  <% } else {%>
  <p>No pokemons </p>
  <% } %>
  <a href="/trainers/<%= trainers[trainer].id %>/add">
    <button>Add Pokemon</button>
  </a>
  <% } %>

  <h2>Wild Pokemons</h2>
  <ul>
    <% wildPokemons.forEach(pokemon => {%>
    <li><%= pokemon %></li>
    <% });%>
  </ul>
  <a href="/pokemons/add">
    <button>Add wild pokemon</button>
  </a>
</body>

</html>